### Looking to summarize the recreational visitors to all NPS lands in the northeast region since the year 2000.

Start by importing the csv file I obtained from the NPS STATS website.

It's a summary of all NPS lands from the northeastern region and the visitor data since 2000.

In [12]:
import pandas as pd
df = pd.read_csv(r"C:\Users\brett\OneDrive\Documents\ArcGIS\Projects\2024_NE_NationalParkLands_MostVisitedSince2000\data sources\NPSLandsRecreationVisitsSince2000_NortheastRegion.csv", engine = "python")

In [14]:
df.head()

,ParkName,UnitCode,ParkType,Region,State,Year,Month,RecreationVisits,NonRecreationVisits,RecreationHours,...,NonRecreationVisitsTotal,RecreationHoursTotal,NonRecreationHoursTotal,ConcessionerLodgingTotal,ConcessionerCampingTotal,TentCampersTotal,RVCampersTotal,BackcountryTotal,NonRecreationOvernightStaysTotal,MiscellaneousOvernightStaysTotal
0,Acadia NP,ACAD,National Park,Northeast,ME,2000,1,"22,500","20,373","148,500",...,"252,576","13,230,679","252,576",0,0,"114,033","22,692",0,0,"9,747"
1,Acadia NP,ACAD,National Park,Northeast,ME,2000,2,"23,848","19,923","157,397",...,"252,576","13,230,679","252,576",0,0,"114,033","22,692",0,0,"9,747"
2,Acadia NP,ACAD,National Park,Northeast,ME,2000,3,"35,423","20,373","233,792",...,"252,576","13,230,679","252,576",0,0,"114,033","22,692",0,0,"9,747"
3,Acadia NP,ACAD,National Park,Northeast,ME,2000,4,"78,555","21,723","455,619",...,"252,576","13,230,679","252,576",0,0,"114,033","22,692",0,0,"9,747"
4,Acadia NP,ACAD,National Park,Northeast,ME,2000,5,"166,456","21,923","965,445",...,"252,576","13,230,679","252,576",0,0,"114,033","22,692",0,0,"9,747"

In [49]:
df.dtypes.head(10)

ParkName               object
UnitCode               object
ParkType               object
Region                 object
State                  object
Year                    int64
Month                   int64
RecreationVisits       object
NonRecreationVisits    object
RecreationHours        object
dtype: object

We need the RecreationVisits column to be an integer in order to sum up the total visits

first, remove the commas, then convert to int:

In [54]:
df["RecreationVisits"] = df["RecreationVisits"].str.replace(",","").astype('int64')

In [58]:
df.head(2)

,ParkName,UnitCode,ParkType,Region,State,Year,Month,RecreationVisits,NonRecreationVisits,RecreationHours,...,NonRecreationVisitsTotal,RecreationHoursTotal,NonRecreationHoursTotal,ConcessionerLodgingTotal,ConcessionerCampingTotal,TentCampersTotal,RVCampersTotal,BackcountryTotal,NonRecreationOvernightStaysTotal,MiscellaneousOvernightStaysTotal
0,Acadia NP,ACAD,National Park,Northeast,ME,2000,1,22500,"20,373","148,500",...,"252,576","13,230,679","252,576",0,0,"114,033","22,692",0,0,"9,747"
1,Acadia NP,ACAD,National Park,Northeast,ME,2000,2,23848,"19,923","157,397",...,"252,576","13,230,679","252,576",0,0,"114,033","22,692",0,0,"9,747"

In [68]:
total_visits = df.groupby(['UnitCode'])["RecreationVisits"].sum()

In [70]:
total_visits.head()

UnitCode
ACAD    66139072
ADAM     4155720
AFBG      777570
ALPO     3554237
APCO     4420595
Name: RecreationVisits, dtype: int64

In [72]:
total_visits.tail()

UnitCode
UPDE     6209090
VAFO    38848599
VAMA     8893809
WEFA      599668
WORI      681957
Name: RecreationVisits, dtype: int64

### Now we have a format we can join with the feature class in our map on the UnitCode field.

Write the resulting table to a new csv file:

In [80]:
total_visits.to_csv(r"C:\Users\brett\OneDrive\Documents\ArcGIS\Projects\2024_NE_NationalParkLands_MostVisitedSince2000\data sources\total_visits_since2000_byPark.csv")